@page
@model PrivacyModel
@{
    ViewData["Title"] = "Feedback";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Neighborhood_Watch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Neighborhood_Watch.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<section class="contact_section layout_padding">
    <div class="contact_bg_box">
        <div class="img-box">
            <img src="images/contact-bg.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Let us know about your neighborhood
            </h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <form method="post">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Full Name" name="fullName"/>
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" name="email"/>
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone Number" name="phoneNumber" />
                                </div>
                                <div>
                                    <input type="text" placeholder="Address" name="address"/>
                                </div>
                                <div>
                                    <input type="text" placeholder="City" name="city" />
                                </div>
                                <div>
                                    <input type="text" placeholder="Neighbourhood" name="neighbourhood" />
                                </div>
                                
                               
                                <div >
                                    <label for="safety_rating">Safety Rating:</label>
                                    <select name="safety_rating" id="safety_rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected>5</option>
                                    </select>
                                </div>
                                <div>
                                    <textarea placeholder="Comments" class="message_input" name="comments"></textarea>
                                </div>
                                <div class="btn-box">
                                    <button type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="text-align: center; margin: auto; padding-top: 20px;">
    @if (Model.NeighborhoodData != null && Model.NeighborhoodData.Count > 0)
    {
        <h2>Neighborhood Data</h2>
        <table style="width: 80%; margin-top: 10px; margin-left: auto; margin-right: auto; border-collapse: collapse; border: 1px solid black;">
            <thead>
                <tr>
                    <th style="border: 1px solid black;">Full Name</th>
                    <th style="border: 1px solid black;">Email</th>
                    <th style="border: 1px solid black;">Phone Number</th>
                    <th style="border: 1px solid black;">Address</th>
                    <th style="border: 1px solid black;">City</th>
                    <th style="border: 1px solid black;">Safety Rating</th>
                    <th style="border: 1px solid black;">Comments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.NeighborhoodData)
                {
                    <tr>
                        <td style="border: 1px solid black;">@data.FullName</td>
                        <td style="border: 1px solid black;">@data.Email</td>
                        <td style="border: 1px solid black;">@data.PhoneNumber</td>
                        <td style="border: 1px solid black;">@data.Address</td>
                        <td style="border: 1px solid black;">@data.City</td>
                        <td style="border: 1px solid black;">@data.SafetyRating</td>
                        <td style="border: 1px solid black;">@data.Comments</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No neighborhood data available.</p>
    }
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
