@page
@using IncidentRecord;
@using CallsForService;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Calls> cls = (List<Calls>)ViewData["Services"];
    List <Incidents> incident = (List<Incidents>) ViewData["Incidents"];
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Neighborhood_Watch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Neighborhood_Watch.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<div class="text-center">
    <h1 class="display-4">Neighborhood Watch</h1>    
</div>
 
@*@foreach (Calls cl in cls)
{
    <h3>@cl.CpdNeighborhood</h3>
}
<table>
    <tr>
        <th>Instance Id</th>
        <th>Incident No</th>
        <th>Date Reported</th>
        <th>Date From</th>
        <th>Ucr</th>
    </tr>

    @{
        foreach (Incidents incidents in incident)
        {
            <tr>
                <td>@incidents.Instanceid</td>
                <td>@incidents.IncidentNo</td>
                <td>@incidents.DateReported</td>
                <td>@incidents.DateFrom</td>
                <td>@incidents.Ucr</td>
            </tr>
        }
    }

</table>*@


@if (Model.SearchResults != null)
{
    <div class="search-results">
        <h3>Search Results:</h3>
        <ul>
            @foreach (var result in Model.SearchResults)
            {
                <strong>
                <li class="search-result-item">@result</li>
                <hr>
                </strong>
            }
        </ul>
    </div>
}

<h3 class="text-center w-100 text-dark h3 mt-5 mb-2">Safest Neighborhoods In Cincinnati</h3>
<div class="row g-3">
    <div class="col-4 ">
        <img src="https://i0.wp.com/haushomemagazine.com/wp-content/uploads/2021/04/My-Post-6.jpg?w=1200&ssl=1" class="zoom-hover rounded-top" alt="image of place" />
        <h4 class="h4">Hyde Park, Cincinnati</h4>
    </div>

    <div class="col-4">
        <img src="https://abccincy.org/wp-content/uploads/2016/02/Sayler-Park-768x576.jpg" class="zoom-hover rounded-top" alt="image of place" />
        <h4 class="h4">Sayler Park</h4>
    </div>
    <div class="col-4">
        <img src="https://www.homesnacks.com/images/oh/cincinnati-oh-11.jpg" class="zoom-hover rounded-top" alt="image of place" />
        <h4 class="h4">Mt. Washington</h4>
    </div>
    <div class="col-4">
        <img src="https://mycincinnatirealtor.com/files/2019/12/Observatory-2-2-1024x680.jpg" class="zoom-hover rounded-top" alt="image of place" />
        <h4 class="h4">Mt. Lookout</h4>
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.lShCGT7aAXVlnSxBC4tbXgHaFb?pid=ImgDet&rs=1" class="zoom-hover rounded-top" alt="image of place" />
        <h4 class="h4">Kennedy Heights</h4>
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.V3k0IXS0gAzcSNiSGiSuDgHaE6?pid=ImgDet&rs=1" class="zoom-hover rounded-top" alt="image of place" />
        <h4 class="h4">University Of Cincinnati</h4>
    </div>
</div>
