@page
@using IncidentRecord;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List <Incidents> incident = (List<Incidents>) ViewData["Incidents"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <tr>
        <th>Plant ID</th>
        <th>Specimen ID</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
    </tr>
    @{
        foreach (Incidents incidents in incident)
        {
            <tr>
                <td>@incidents.Instanceid</td>
                <td>@incidents.IncidentNo</td>
                <td>@incidents.DateReported</td>
                <td>@incidents.DateFrom</td>
                <td>@incidents.Ucr</td>
            </tr>
        }
    }
</table>
